---
title: " "
layout: splash
date: 2018-05-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/header.jpg
  cta_label: "Csatlakozz!"
  cta_url: "/join"
  caption: "Szolnoki csata, 2018"
excerpt: "A Magyarországon harcoló és menedéket találó lengyel katonák emlékét őrizve"
intro:
  - excerpt: 'A Wysocki Légió Hagyományőrző Egyesület 1998 óta ápolja és eleveníti fel a hazánk területén, a magyar ügyért harcoló, illetve itt menedéket találó lengyel katonák emlékét, több korszakot is megjelenítve.'
feature_row:
  - btn_label: "Támogatóink"
    btn_class: "btn--primary"
    url: "/support"
  - url: "/about"
    btn_label: "Bemutatkozás"
    btn_class: "btn--primary"
  - url: "/calendar"
    btn_label: "Eseménynaptár"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
