---
title: "Kezdőlap"
layout: splash
date: 2018-05-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/header.jpg
  cta_label: "Csatlakozz!"
  cta_url: "/join"
  caption: "Szolnoki csata, 2018"
excerpt: "A Magyarországon harcoló és menedéket találó lengyel katonák emlékét őrizve"
intro:
  - excerpt: 'A Wysocki Légió Hagyományőrző Egyesület 1998 óta ápolja és eleveníti fel a hazánk területén, a magyar ügyért harcoló, illetve itt menedéket találó lengyel katonák emlékét, több korszakot is megjelenítve.'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: ""
    title: "Támogass!"
    excerpt: "Várjuk az egyesületünk céljaival egyet értő támogatók jelentkezését!"
    btn_label: "Támogatóink"
    url: "/support"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
